# Dependency trees
node_modules/
/client/node_modules/
/server/node_modules/

# Production builds
/client/dist/

# Environmental variables
.env
.env.local
.env.production
server/config/.env

# OS fragments
.DS_Store
Thumbs.db
logs/
*.log
